

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    height: 100%;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    
  }
  
  .card-img {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 25px;
    margin: 10px 0;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(20, 72, 155, 0.353), 0 0 0.2em rgba(12, 12, 155, 0.324);
  }
  
  .card-text {
    font-size: 15px;
    margin-bottom: 2px;
    border-color: black 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(20, 72, 155, 0.353), 0 0 0.2em rgba(18, 18, 176, 0.476);
  }
  
  @media screen and (min-width: 800px) {
    .news-container {
      justify-content: space-between 20px;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
  